@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Merienda:wght@600&family=Roboto:ital,wght@1,300&display=swap"');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merienda;
    color: white;
}

body {
    background-color: #1c1c1c;
}

li {
    list-style-type: none;
    display: inline-block;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer-moves {
    margin-top: 1%;
    text-align: end;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Game-box {
    margin: 1%;
    padding: 1%;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1%;
    background: rgb(25, 145, 176);
    background: linear-gradient(193deg, rgba(25, 145, 176, 1) 28%, rgb(67, 91, 185) 100%);
}

.card,
.card-open,
.cards-equal {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card {
    background-color: white;
    background-image: url('../img/imgBack.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card-open {
    background-size: cover;
}

.cards-equal {
    background-size: cover;
    opacity: 0.7;
}

.end {
    display: none;
}