@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Merienda:wght@600&family=Roboto:ital,wght@1,300&display=swap"');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merienda;
}

body {
    background-color: #1c1c1c;
}

li {
    list-style-type: none;
    display: inline-block;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container div {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.container div div{
    width: 100%;
    max-width: 410px;
    height: 100%;
    max-height: 300px;
    position: absolute;
    border: #000 2px solid;
    background-color: aliceblue;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type='text'] {
    width: 50%;
    padding: 1%;
    border-radius: 12px;
    letter-spacing: 2px;
}

input[type='submit'] {
    margin-top: 5%;
    width: 30%;
    padding: 1%;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(25, 145, 176);
}

.container div img {
    width: 40%;
}

.timer-moves {
    margin-top: 1%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.boardGame {
    padding: 1%;
    width: 65%;
    height: 95%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1%;
}

.card-back,
.face_cards,
.cards-equal {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: rgb(25, 145, 176) 2px solid;
}

.card-back {
    background-color: white;
    background-image: url('../img/imgBack.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.face_cards {
    background-size: cover;
    /*width: 500px;
    height: 500px;
    position: absolute;*/
}

.cards-equal {
    background-size: cover;
    opacity: 0.7;
}

.end {
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: none;
    justify-content: center;
    text-align: center;
    color: white;
}

.end img {
    width: 50%;
}

.end h1 {
    margin-bottom: 10%;
}

.end h1,
.end button {
    margin-top: 10%;
}

.end button {
    width: 30%;
    height: 4%;
    border-radius: 50px;
    font-size: 1em;
    background: #53a262;
    background: linear-gradient(50deg, #53a262 10%, #3e3547 90%);
    cursor: pointer;
}

/*linear-gradient(193deg, rgba(25, 145, 176, 1) 28%, rgb(67, 91, 185) 100%)*/